<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div>Mensaje personalizado para contenido <b>vacio</b> </div>
  </ng-container>
  <ng-container contenido>
    <div *ngFor="let pelicula of peliculas;  let index = index" class="pelicula-container">
      <div>Pelicula {{index}} : {{ pelicula.nombre | uppercase }} 
        <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button>
      </div>

      <div>Pelicula {{index}} :
        {{ pelicula.fecha | date: "dd/MM/yyyy" | uppercase }}
      </div>

      <div>
        {{ pelicula.precio | currency }}
      </div>

    </div>
  </ng-container>
</app-listado-generico>